body{
    margin: 0;
    width: 400px;
    font-family: 'Varela Round';
}
.font-weight-heavy{
    font-weight: 800;
}
.collections{
    display: block;
    width: 380px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 1px rgba(192, 192, 192, 0.5) solid;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}
.collection{
    width: 360px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}
.collection:hover{
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.5);
}
.collection_modal{
    display: none;
    width: 380px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 1px rgba(192, 192, 192, 0.5) solid;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}
.add_collection{
    display: none;
    width: 380px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 1px rgba(192, 192, 192, 0.5) solid;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}
.lead{
    width: 360px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}
.add_lead{
    display: none;
    width: 380px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 1px rgba(192, 192, 192, 0.5) solid;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}